<div data-ng-app="ShareCoffeeTaskListApp">
    <div data-ng-controller="taskListController">
        <div class="new-task">
            <input type="text" data-ng-model="newTask"
                   data-ng-focus="newTask = ''" />
            <button type="button"
                    data-ng-click="addTask()">Create Task</button>
            <div class="pull-right">
                <input type="text"
                    placeholder="filter"
                    data-ng-model="filterTerm"/></div>
        </div>
        <div data-ng-repeat="task in tasks | filter:filterTerm"
                data-ng-class="{'task': task.Status == 'Not Started', 'task completed': task.Status == 'Completed'}">
            <i ng-click="updateTask(task)" 
                data-ng-class="{'fa fa-2 fa-square-o': task.Status == 'Not Started', 'fa fa-2 fa-check-square-o': task.Status == 'Completed'}"></i>
            <span data-ng-class="{done: task.Status == 'Completed'}">{{task.Title}}</span>
        </div>
    </div>
</div>
