.task {
  background-color: rgb(10, 89, 193);
  font-family: 'Segoe UI Semilight', 'Segoe UI', Segoe, Tahoma, Helvetica, Arial, sans-serif;
  color: #fff;
  height: 26px;
  width:70%;
  margin: 10px 20px;
  font-size:15px;
  font-weight:bold;
  text-indent: 20px;
  padding:10px;
}

.completed {
  background-color: rgb(112, 193, 10);
}
.profile {
  position:absolute;
  top:10px;
  right:10px;
}
.new-task {
  
  
  width:90%;
  margin: 10px 20px;
  font-size:15px;
  font-weight:bold;
  text-indent: 20px;
  padding:4px;
}

.new-task input{
  border:1px solid #999;
  border-radius: 4px;
  width:70%;
}

.done {
  text-decoration:line-through;
}