#Requirements

In order to complete all the samples listed in this book, you need the following software on your development system
 
  * Visual Studio 2013 Update 3
  * Node.JS installation (only for building custom Add-Ons or contributing to ShareCoffee)

In addition to these software requirements you need the following

  * working internet connection

Regarding SharePoint requirements it's up to you. Depending on your preferences you can either rely on a SharePoint 2013 OnPremise installation (Including SP 1) or you can utilize an Office 365 subscription for building and deploying all the SharePoint Apps.

No matter if you're running OnDemand or OnPremises, you must have at least one SiteCollection from type **Developer Site**

In order to create such a developer SiteCollection use either **SharePoint's Central Administration** or the **Office 365 Admin Center**.

If you neither own a SharePoint Server nor an Office 365 tenant, you can create a Office 365 developer tenant [right here](http://dev.office.com/build).


